{% extends "base.html" %}
{% block content %}

<h2>Add persons's city:</h2>

<form action="{{ url_for('add_birthplace') }}" method="post">
<div class="input-group">
	<dl>
	<dt>Person:</dt>
	 <dd>
	 	<select name="name" class="custom-select">
        {% for row in persons %}
        <option value="{{ row['name'] }}" class="list-group-item">{{ row['name'] }}</option>
        {% endfor %}
    	</select>
	</dd>

	<dt>City:</dt>
    <dd><select name="location" class="custom-select">
        {% for row in locations %}
        <option value="{{ row['city'], row['state'] }}" class="list-group-item">{{ row['city'], row['state']  }}</option>
        {% endfor %}
        </select>
   	</dd>
   
	<dd>
        <div class="input-group-append">
            <input type="submit" value="Dodaj miejsce urodzenia" class="btn btn-outline-secondary btn-style">
        </div>
   	<dd>
    </dl>
</div>
</form>

{% endblock %}