<!DOCTYPE html>
<html lang="en">
<head>
    <title>Almost FB</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap&subset=latin-ext" rel="stylesheet">

     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class=page>

<div class="jumbotron jumbotron2">
  <div class="container">
    <h1 class="display-4">Almost FB</h1>
  </div>
</div>

   <div class="container-fluid">
    <div class="jumbotron">

    <div class="row">
    <div class="col-2">
    </div>
    <div class="col-2">
    <h1>Select:</h1>
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a href="/" class="list-group-item list-group-item-action bg-light">Strona główna</a>
        <a href="/person/add" class="list-group-item list-group-item-action bg-light">Dodaj osobę do bazy danych</a>
        <a href="/person/delete" class="list-group-item list-group-item-action bg-light">Usuń osobę z bazy danych</a>
        <a href="/location/add" class="list-group-item list-group-item-action bg-light">Dodaj miasto</a>
        <a href="/location/delete" class="list-group-item list-group-item-action bg-light">Usuń miasto</a>
        <a href="/distance/add" class="list-group-item list-group-item-action bg-light">Dodaj odlgegłość między miastami</a>
        <a href="/friends/connect" class="list-group-item list-group-item-action bg-light">Dodaj znajomość pomiędzy użytkownikami</a>
        <a href="/person/liveplace/add" class="list-group-item list-group-item-action bg-light">Dodaj miejsce zamieszkania</a>
        <a href="/search" class="list-group-item list-group-item-action bg-light">Wyszukaj szczegóły osoby</a>
      </div>
    </div>
    </div>


    <div class="col-6">
    <div class="container-fluid">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endfor %}
        {% block content %}
        {% endblock %}
    </div>
    </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </div>
   </div>
</body>
</html>