{% extends "base.html" %}
{% block content %}

<h2>Select city for deletion:</h2>

<form action="{{ url_for('delete_location') }}" method="post">
<div class="input-group">
    <select name="location" class="custom-select">
        {% for row in locations %}
        <option value="{{ row['city'], row['state'] }}" class="list-group-item">City: {{ row['city'] }}, Voivodeship: {{ row['state'] }}</option>
        {% endfor %}
    </select>
    <div class="input-group-append">
        <input type="submit" value="Delete city" class="btn btn-outline-secondary btn-style">
    </div>
</div>
</form>

{% endblock %}