{% extends "base.html" %}
{% block content %}

<h2>Wybierz osobę do usunięcia:</h2>

<form action="{{ url_for('delete_person') }}" method="post">
<div class="input-group">
    <select name="name" class="custom-select">
        {% for row in persons %}
        <option value="{{ row[0]['data']['name'] }}" class="list-group-item">{{ row[0]['data']['name'] }}</option>
        {% endfor %}
    </select>
    <div class="input-group-append">
        <input type="submit" value="Usuń" class="btn btn-outline-secondary btn-style">
    </div>
</div>
</form>

{% endblock %}