{% extends "base.html" %}
{% block content %}

<h4>List of portal users:</h4>

<ul class="list-group">
        {% for row in people %}
            <li onclick="location.href='person/info?name={{ row }}'" class="list-group-item list-group-item-action">{{ row }}</li>
        {% endfor %}
</ul>
<br>
<h4>Cities list:</h4>

<ul class="list-group">
        {% for row in locations %}
            <li onclick="location.href='city/info?city={{ row['city'] }}&state={{ row['state'] }}'" class="list-group-item list-group-item-action">City: {{ row['city'] }}, voivodeship: {{ row['state'] }}</li>
        {% endfor %}
</ul>

{% endblock %}