{% extends "base.html" %}
{% block content %}
<h2>City details for {{ city['city'] }} </h2>
<h4>List of residents:</h4>

{% if people_live_in %}
    <ul class="list-group">
        {% for row in people_live_in %}
            <li onclick="location.href='/person/info?name={{ row['name']}}'" class="list-group-item list-group-item-action">{{ row['name'] }}</li>
        {% endfor %}
    </ul>
{% else %}
    None
{%endif %}

{% if city %}
    <h4>Distance to other cities:</h4>
    <ul class="list-group">
        {% for row in distances %}
            <li class="list-group-item list-group-item-action">{{ row }}, distance: {{ distances[row]['dist'] }}</li>
        {% endfor %}
    </ul>
{% else %}
    None
{%endif %}
{% endblock %}