{% extends "base.html" %}
{% block content %}

<h2>User {{ name }}:</h2>
<br>
<h4>City:</h4>
{% if residentcity %}
    City: {{ residentcity['city'] }}, Voivodeship: {{ residentcity['state'] }}
    {% else %}
    None
{%endif %}
<br>
<h4>Friends:</h4>

{% if friends %}
<ul class="list-group">
    {% for row in friends %}
        <li onclick="location.href='/person/info?name={{ row['b']['name'] }}'" class="list-group-item list-group-item-action">{{ row['b']['name'] }}</li>
    {% endfor %}
</ul>
{% else %}
None
{%endif %}
{% endblock %}