{% extends "base.html" %}
{% block content %}

<h2>Select person to find detailed informations</h2>

<form action="{{ url_for('search_person') }}" method="post">
<div class="input-group">
    <select name="name" class="custom-select">
        {% for row in persons %}
        <option value="{{ row['name'] }}" class="list-group-item list-group-item-action">{{ row['name'] }}</option>
        {% endfor %}
    </select>
    <div class="input-group-append">
        <input type="submit" value="Search" class="btn btn-outline-secondary btn-style">
    </div>
</div>
</form>

{% endblock %}